# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# custom space
localDefs.make
.vscode
*.log
*.h5
output/*
test*
*.dat
*.dat.info
vecrng
*.opt